@media screen and (max-width:1441px){
    .home{
        
        height: 800px;
    }

    .service-tittle{
        padding-top: 180px;
    }
} 


@media screen and (max-width:1024px){

    html{
        font-size: 55%
    }

    .nav-bar{
        width: 700px;     
    }

    .service-tittle{
        padding-top: 130px;
    }

    .service{
        margin-bottom: 250px;
        grid-gap: 0 15px;     
     }
}


@media screen and (max-width:768px){

    html{
        font-size: 50%
    }

    .home-content{
        text-align: center;
    }

    .footer-logo{
        right:280px;
        bottom: 60px;
    }

    .base-options{
        grid-template-columns: repeat(1, minmax(200px, 1fr));
        grid-template-rows: 20vh 20vh 20vh 20vh 20vh 20vh 20vh 20vh 20vh 20vh;
    }

    .service-tittle{
        padding-top: 1300px;
    }

    .service{
        grid-template-columns: 1fr;
        height: 1000px;   
    }
    
    .service-content1{
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        padding: 50px 0;
        border-bottom: 4px solid rgba(117, 117, 117, 0.37);;
    }

    .img-content1 img{
        width: 120px;
        padding: 30px;
    }

    .tittle-content1{
        text-align: left;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: left;
        width: 300px;
        align-items: flex-start; 
    }

    .service-description1{
        height: 200px;
        width: 400px;
        text-align: left;
    }

    .line-service{
        display: none;
    }

    .service-content2{ 
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        padding: 50px 0;
        border-bottom: 4px solid rgba(117, 117, 117, 0.37);;       
    }

    .img-content2 img{
        width: 120px;
        padding: 20px 25px;
    }

    .tittle-content2{
        text-align: left;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: left;
        width: 300px;
        align-items: flex-start;   
    }

    .service-description2{
        height: 200px;
        width: 400px;
        text-align: left;
    }

    .service-content3{ 
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        padding: 50px 0;
        border-bottom: 4px solid rgba(117, 117, 117, 0.37);;       
    }

    .img-content3-border{
        padding: 30px 26px;
    }

    .img-content3 img{
        width: 70px;
    }


    .tittle-content3{
        text-align: left;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: left;
        width: 300px;
        align-items: flex-start;
    }

    .service-description3{
        height: 200px;
        width: 400px;
        text-align: left;
    }

    .base-information{ 
        height: 1200px;  
        grid-template-columns:repeat(1, minmax(200px ,1fr));
        grid-template-rows: 30vh 30vh 30vh 30vh;   
    }

    .info-content1{
        border: 6px solid rgba(117, 117, 117, 0.37);
        border-bottom: none;
    }
    
    .info-content2{
        border-left: 6px solid rgba(117, 117, 117, 0.37);
        border-right: 6px solid rgba(117, 117, 117, 0.37);  
        border-bottom: none;
    }
    
     .info-content3{
        border-left: 6px solid rgba(117, 117, 117, 0.37);
        border-right: 6px solid rgba(117, 117, 117, 0.37);     
        border-bottom: none;
    }
    
    .info-content4{
        border-left: 6px solid rgba(117, 117, 117, 0.37);
        border-right: 6px solid rgba(117, 117, 117, 0.37);
        border-bottom: 6px solid rgba(117, 117, 117, 0.37);
    } 


    .text-form{
        font-size: 5rem;
    }
    




    






}

   

