* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  height: 100vh;
  font-size: 62.5%;
}

header {
  background-color: #2571b7;
  height: 100%;
}

.menu {
  width: 90%;
  height: 97px;
  max-width: 1500px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-logo img {
  width: 160px;
  height: auto;
}

.nav-bar {
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.option {
  font-size: 2rem;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.option:hover {
  color: #3f3a3a;
}

.button-menu {
  width: 180px;
  height: 50px;
  background-color: #002050;
  color: #ffffff;
  border: none;
  font-size: 2rem;
}

.button-menu:hover {
  color: #797171;
  cursor: pointer;
}

.home {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5),
      black 100%
    ),
    url("../imagens/ballpen-blur-close-up-461077.png");
  height: 930px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-content {
  width: 90%;
  max-width: 1500px;
  margin: auto;
}

.footer-logo {
  width: 200px;
  margin: auto;
  display: flex;
  position: absolute;
  right: 100px;
  bottom: 60px;
}

h1 {
  color: #ffffff;
  font-size: 10rem;
  font-weight: 500;
  margin-bottom: 30px;
}

.home-description {
  color: #ffffff;
  font-size: 4.5rem;
  margin-bottom: 90px;
}

.button-home {
  background-color: #00a4ef;
  color: #ffffff;
  font-size: 3.5rem;
  width: 325px;
  height: 80px;
  border: none;
}

.button-home:hover {
  color: #3f3a3a;
  cursor: pointer;
}

.information {
  height: 280px;
  display: flex;
  text-align: justify;
}

.color {
  color: tomato;
  font-weight: bold;
}

.text-information {
  width: 90%;
  max-width: 1500px;
  margin: auto;
  height: 110px;
}

.text-content1 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 40px;
  color: #919191;
}

.text-content2 {
  font-size: 2.5rem;
  text-align: center;
  color: #919191;
}

.options {
  height: 900px;
  margin-bottom: 130px;
}

.options-content {
  width: 90%;
  margin: auto;
  margin-top: 20px;
}

h2 {
  font-size: 4.5rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 40px;
  color: #2373bc;
}

h2:hover {
  cursor: pointer;
  color: #797171;
}

.text-options {
  font-size: 2.5rem;
  text-align: center;
  color: #919191;
  margin-bottom: 40px;
}

.base-options {
  width: 90%;
  max-width: 1500px;
  margin: auto;
  height: 1008px;
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-template-rows: 20vh 20vh 20vh 20vh 20vh;
  grid-gap: 10px 60px;
}

.text {
  color: #ffffff;
  font-size: 2rem;
}

.icon img {
  width: 80px;
  margin: 25px;
}

.options1 {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 160px;
  background-color: #0072c5;
  cursor: pointer;
}

.options2 {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 160px;
  background-color: #2c5897;
  cursor: pointer;
}

.options3 {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 160px;
  background-color: #207244;
  cursor: pointer;
}

.options4 {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 160px;
  background-color: #cb4b32;
  cursor: pointer;
}

.options5 {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 160px;
  background-color: #733781;
  cursor: pointer;
}

.options6 {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 160px;
  background-color: #00aff0;
  cursor: pointer;
}

.options7 {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 160px;
  background-color: #094ab2;
  cursor: pointer;
}

.options8 {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 160px;
  background-color: #0073c6;
  cursor: pointer;
}

.options9 {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 160px;
  background-color: #0093be;
  cursor: pointer;
}

.options10 {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 160px;
  background-color: #5458af;
  cursor: pointer;
}

.service-tittle {
  color: #0072c6;
  justify-content: center;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 250px;
}

.service {
  min-width: 300px;
  height: 500px;
  width: 90%;
  max-width: 1500px;
  margin: auto;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  margin-bottom: 180px;
  grid-gap: 0 80px;
}

.service-content1 {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img-content1 img {
  background-color: #7fba00;
  border-radius: 50%;
  padding: 52px;
}

.tittle-content1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #7fba00;
  font-size: 3rem;
  margin: 25px;
  text-align: center;
}

.line-service {
  width: 60px;
  height: 25px;
  border-bottom: 6px solid rgba(117, 117, 117, 0.205);
}

.service-description1 {
  color: rgb(136, 136, 136);
  font-size: 2.3rem;
  padding: 18px 0px 100px;
  text-align: center;
}

.service-button1 {
  font-size: 2.2rem;
  color: #7fba00;
  background-color: rgb(255, 255, 255);
  border: 4px solid #7fba00;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
}

.service-button1:hover {
  background-color: #7fba00;
  color: white;
  transition: 0.3s ease all;
}

.service-content2 {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img-content2 img {
  background-color: #00a4ef;
  border-radius: 50%;
  padding: 47px 52px;
}

.tittle-content2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #00a4ef;
  font-size: 3rem;
  margin: 25px;
  text-align: center;
}

.service-description2 {
  color: rgb(136, 136, 136);
  font-size: 2.3rem;
  padding: 30px 0px 100px;
  text-align: center;
}

.service-button2 {
  font-size: 2.2rem;
  color: #00a4ef;
  background-color: rgb(255, 255, 255);
  border: 4px solid #00a4ef;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
}

.service-button2:hover {
  background-color: #00a4ef;
  color: white;
  transition: 0.3s ease all;
}

.service-content3 {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img-content3-border {
  background-color: #ffb900;
  border-radius: 50%;
  padding: 60px 55px;
}

.img-content3 img {
  background-color: #ffb900;
}

.tittle-content3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffb900;
  font-size: 3rem;
  margin: 25px;
  text-align: center;
}

.service-description3 {
  color: rgb(136, 136, 136);
  font-size: 2.3rem;
  padding: 30px 0px 100px;
  text-align: center;
}

.service-button3 {
  font-size: 2.2rem;
  color: #ffb900;
  background-color: rgb(255, 255, 255);
  border: 4px solid #ffb900;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
}

.service-button3:hover {
  background-color: #ffb900;
  color: white;
  transition: 0.3s ease all;
}

.tittle-information {
  color: #0072c6;
  font-size: 3.5rem;
  text-align: center;
  justify-content: center;
  margin-bottom: 80px;
}

.base-information {
  width: 90%;
  max-width: 1500px;
  margin: auto;
  height: 450px;
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  grid-template-rows: 30vh;
}

.info-content1 {
  min-width: 150px;
  border: 6px solid rgba(117, 117, 117, 0.37);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 12px;
  line-height: 2.5rem;
  text-align: center;
}

.info-content2 {
  min-width: 150px;
  border-top: 6px solid rgba(117, 117, 117, 0.37);
  border-right: 6px solid rgba(117, 117, 117, 0.37);
  border-bottom: 6px solid rgba(117, 117, 117, 0.37);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 12px;
  line-height: 2.5rem;
  text-align: center;
}

.info-content3 {
  min-width: 150px;
  border-top: 6px solid rgba(117, 117, 117, 0.37);
  border-right: 6px solid rgba(117, 117, 117, 0.37);
  border-bottom: 6px solid rgba(117, 117, 117, 0.37);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 12px;
  line-height: 2.5rem;
  text-align: center;
}

.info-content4 {
  min-width: 150px;
  border-top: 6px solid rgba(117, 117, 117, 0.37);
  border-right: 6px solid rgba(117, 117, 117, 0.37);
  border-bottom: 6px solid rgba(117, 117, 117, 0.37);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 12px;
  line-height: 2.5rem;
  text-align: center;
}

.tittle-info {
  color: tomato;
  font-size: 2.5rem;
}

.description-info {
  color: rgb(136, 136, 136);
  font-size: 2rem;
  text-align: center;
  margin-top: 40px;
}

.img-form {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 400px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../imagens/achievement-adult-agreement-1391373.png);
  background-size: cover;
  background-position: center;
  padding: 115px;
}

.text-form {
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 6rem;
}

.login {
  background-color: white;
  width: 90%;
  max-width: 1500px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
  padding-top: 120px;
}

.form {
  display: flex;
  background-color: rgba(209, 209, 209, 0.514);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 30px;
}

.form1 {
  border: none;
  font-size: 2rem;
  width: 480px;
  height: 70px;
  margin: 20px;
  padding-left: 15px;
}

.button-login {
  border: none;
  background-color: #00a4ef;
  color: white;
  font-size: 3.5rem;
  width: 480px;
  height: 80px;
  margin: 20px;
  cursor: pointer;
}

.button-login:hover {
  color: #797171;
  cursor: pointer;
}

.text-login {
  color: rgb(136, 136, 136);
  font-size: 3.6rem;
  text-align: center;
  margin-bottom: 55px;
}

.footer {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-footer {
  width: 250px;
  margin-right: 30px;
  margin-left: 30px;
}

.copyright {
  color: rgb(136, 136, 136);
  height: 80px;
  display: flex;
  justify-content: center;
  font-size: 20px;
}
